body {
    margin: 0;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
}

table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid white;
}

table th {
    background-color: blueviolet;
}

table td a {
    text-decoration: none;
    color: white;
    transition: color .15s ease-in;
}

table td a:hover {
    color: blueviolet;
}

table td a:active {
    color: white;
}

a img {
    width: 2rem;
    height: auto;
}